[Unit]
Description=LavinMQ Message Broker

[Service]
ExecStart=/usr/bin/lavinmq -c %h/.config/lavinmq/lavinmq.ini
Restart=always
PrivateTmp=true

[Install]
WantedBy=default.target
