[Unit]
Description=tmux server

[Service]
Type=forking
ExecStart=%h/.local/bin/tmux.startup
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
