[Unit]
Description=Xephyr Dynamic Spawn Daemon
After=lavinmq.service
Requires=lavinmq.service

[Service]
Type=simple
ExecStart=%h/.local/bin/xephyrd

Environment=LAVINMQ_AMQP_UNIXSOCKET=%h/.local/share/lavinmq/amqp.sock
Environment=DISPLAY=:0

# If either service crashes, systemd will cleanly manage the restart loop
Restart=always
RestartSec=3s

[Install]
WantedBy=default.target
